.footer {
    background-color: $dark-grey;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 22px 25px;
    color: white;

    img {
        max-height: 20px;
    }

    ul {
        padding-top: 8px;

        li {
            padding-top: 8px;
        }

        i {
            width: 1rem;
            margin-right: 10px;
        }
    }
}