.user-guide {
    padding: 48px 20px;
    display: flex;
    flex-direction: column;

    ul {
        padding: 26px 0 20px 10px;
    }

    @include respond-to('medium') {
        align-items: center;
    }
}

.restaurants {
    background-color: $light-grey;
    padding: 54px 20px;

    img {
        height: 170px;
        width: 100%;
        object-fit: cover;
    }

    .restaurants-cards {
        padding: 24px 0 12px;

        @include respond-to('medium') {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @include respond-to('medium') {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
}

.desktop-wrapper-restaurant {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 300;

    .restaurant-subheading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include respond-to('medium') {
            justify-content: center;
            gap: 24px;
        }

        .subheading {
            font-family: Shrikhand;
            font-size: 1.75rem;
            font-weight: 400;
            margin-bottom: 0;
        }

        .fav-btn {
            font-size: 1.375rem;
            padding-right: 35px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include respond-to('medium') {
            width: 100%;
            max-width: 630px;
            margin: auto;
        }

        .menu-card {
            display: flex;
            flex-direction: column;
            gap: 12px;
            opacity: 0;
            animation: fadeIn 1s forwards;

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation-delay: .5s * $i;
                }
            }

            h3 {
                text-transform: uppercase;

                &::after {
                    display: flex;
                    margin-top: .4rem;
                    content: '';
                    height: 3px;
                    width: 40px;
                    background-color: $light-green;
                }
            }

            .menu-item {
                // padding: 15px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                background-color: white;
                border-radius: 15px;
                border-radius: 15.043px;
                box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);

                .details {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: 15px;


                    h4 {
                        font-size: 1.125rem;
                        font-weight: 500;
                        margin-bottom: .5rem;
                    }

                    div {
                        span:first-child {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 100%;
                            transition: max-width 0.2s ease;
                        }

                        display: flex;
                        justify-content: space-between;
                    }
                }

                &:hover {
                    .details {
                        div {
                            span:first-child {
                                max-width: 80%;
                            }
                        }
                    }

                    .selected-item {
                        width: 60px;

                        .fa-check {
                            opacity: 1;
                        }
                    }
                }

                .selected-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 0px;
                    background-color: $light-green;
                    border-radius: 0 15px 15px 0;
                    transition: 300ms;
                    overflow: hidden;

                    .fa-check {
                        background-color: white;
                        font-size: .9rem;
                        color: $light-green;
                        padding: 3px;
                        border-radius: 50%;
                        opacity: 0;
                        transition: 300ms;
                    }
                }
            }
        }
    }

    .primary-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        margin: auto;
        padding: 1.1rem;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: $light-green;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    animation: fadeOut 2s linear forwards;
    pointer-events: none;


    i {
        color: white;
        font-size: 10rem;
        filter: drop-shadow(0px 4.011px 15.043px rgba(0, 0, 0, 0.10));
        animation: rotateSpinner 1.2s linear infinite;
    }
}

@keyframes rotateSpinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}