.header {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        z-index: 10;

        @include respond-to('medium') {
            box-shadow: none;
            padding: 30px;
        }

        img {
            max-width: 200px;
            cursor: pointer;
        }
    }

    .header-location {
        background-color: $grey;
        color: $dark-grey;
        text-align: center;
        font-size: 1rem;
        padding: 15px 0;

        span {
            margin-left: 17px;
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $light-grey;

        padding: 40px 0 60px;

        p {
            color: $dark-grey;
            text-align: center;
            font-size: 1.125rem;
            font-weight: 300;
            padding: 20px 15px 0;
        }

        h2 {
            max-width: 85%;
        }

        a {
            margin-top: 40px;
        }
    }
}