.card {
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 10%);
    margin-bottom: 18px;
    position: relative;
    font-family: Roboto, sans-serif;

    .new-tag {
        position: absolute;
        top: 15px;
        right: 15px;
        font-weight: 500;
        font-size: 0.825rem;
        background-color: $light-green;
        color: $green;
        padding: 7px 9px;
        border-radius: 2px;
    }

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    .card-description {
        padding: 16px 25px 12px 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 1.125rem;
            font-weight: 700;
            margin-bottom: 8px;
        }

        span {
            font-size: 1.0625rem;
            font-weight: 300;

            .card-link::before {
                @include absolute;
            }
        }

        i {
            font-size: 1.375rem;
        }
    }

    @include respond-to('medium') {
        width: 44%;
        margin-bottom: 50px;

        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

}